<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Íris - Login</title>

    
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>

<body>
    <div class="container-login">
        <div>
            <form class="devbook-form" id="login">
                <span>Seja bem vindo a íris!</span>
                <div class="input-with-icon">
                    <input type="text" name="email" id="email" placeholder="Digite o seu e-mail" required="required">
                    <i class="fa-solid fa-right-to-bracket"></i>
                </div>
                <div class="input-with-icon">
                    <input type="password" name="senha" id="senha" placeholder="Digite a sua senha" required="required">
                    <i class="fa-solid fa-lock"></i>
                </div>
                <div class="botao-login-container">
                    <button type="submit" class="btn-devbook">Login</button>
                    <button class="btn-devbook" onclick="redirecionar()">Clique aqui para criar a sua conta</button>
                    <!-- <a href="/criar-usuario" class="btn-devbook"> Clique aqui para criar a sua conta </a> -->
                </div>
            </form>
        </div>
    </div>
    {{ template "scripts" }}
    <script src="/assets/js/login.js"></script>
    <script src="/assets/js/cadastro.js"></script>
</body>

</html>